<div class="max-w-md mt-10 mx-auto bg-gray-100 p-6 rounded-lg shadow-md">
  <h2 class="text-xl font-bold mb-4">Password Recovery</h2>

  <!-- Error Message -->
  <div
    *ngIf="errorMessage"
    class="mb-4 p-3 bg-red-100 border border-red-400 text-red-700 rounded"
  >
    {{ errorMessage }}
  </div>

  <form (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label class="block text-sm font-medium">Email</label>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        [class.border-red-500]="errorMessage"
        class="w-full border px-3 py-2 rounded mb-2"
      />

      <button
        type="button"
        (click)="sendCode()"
        [disabled]="isSendingCode"
        class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded w-full disabled:opacity-50 disabled:cursor-not-allowed"
      >
        <span *ngIf="!isSendingCode">Send Recovery Code</span>
        <span *ngIf="isSendingCode">Sending...</span>
      </button>
    </div>

    <div class="mb-4">
      <label class="block text-sm font-medium">Recovery Code</label>
      <input
        type="text"
        [(ngModel)]="recoveryCode"
        name="recoveryCode"
        [class.border-red-500]="errorMessage"
        class="w-full border px-3 py-2 rounded mb-2"
      />

      <button
        type="submit"
        [disabled]="isVerifyingCode"
        class="bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded w-full mb-1 disabled:opacity-50 disabled:cursor-not-allowed"
      >
        <span *ngIf="!isVerifyingCode">Verify Code</span>
        <span *ngIf="isVerifyingCode">Verifying...</span>
      </button>

      <div *ngIf="codeSent && !errorMessage">
        <p class="text-sm mt-2 text-start text-green-500">
          Recovery code has been sent to your email.
        </p>
      </div>
      <div *ngIf="isCodeVerified">
        <p class="text-sm mt-2 text-start text-green-500">
          Code verified successfully. Please set your new password.
        </p>
      </div>
    </div>

    <div *ngIf="isCodeVerified">
      <div class="mb-2">
        <label class="block text-sm font-medium">New Password</label>
        <input
          type="password"
          [(ngModel)]="newPassword"
          name="newPassword"
          [class.border-red-500]="errorMessage"
          class="w-full border px-3 py-2 rounded mb-2"
        />
      </div>

      <div class="mb-2">
        <label class="block text-sm font-medium">Confirm Password</label>
        <input
          type="password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          [class.border-red-500]="errorMessage"
          class="w-full border px-3 py-2 rounded mb-2"
        />
      </div>

      <button
        type="button"
        (click)="resetPassword()"
        [disabled]="isResettingPassword"
        class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded w-full disabled:opacity-50 disabled:cursor-not-allowed"
      >
        <span *ngIf="!isResettingPassword">Reset Password</span>
        <span *ngIf="isResettingPassword">Resetting...</span>
      </button>
    </div>

    <p class="text-sm mt-4 text-center">
      <a [routerLink]="['/login']" class="text-blue-500 hover:underline"
        >Back to Login</a
      >
    </p>
  </form>
</div>
